<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hubin.factor.SysUserFactor">
	<resultMap id="BaseResultMap" type="com.hubin.domain.system.SysUser">
		<id column="uid" jdbcType="BIGINT" property="uid" />
		<result column="username" jdbcType="VARCHAR" property="username" />
		<result column="password" jdbcType="VARCHAR" property="password" />
		<result column="salt" jdbcType="VARCHAR" property="salt" />
		<result column="real_name" jdbcType="VARCHAR" property="realName" />
		<result column="avatar" jdbcType="VARCHAR" property="avatar" />
		<result column="phone" jdbcType="VARCHAR" property="phone" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="sex" jdbcType="TINYINT" property="sex" />
		<result column="status" jdbcType="TINYINT" property="status" />
		<result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
		<result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="CREATE_WHERE" jdbcType="TINYINT" property="createWhere" />
	</resultMap>
	<sql id="Base_Column_List">
    uid, username, password, salt, real_name, avatar, phone, email, sex, status, CREATE_TIME,
    UPDATE_TIME, CREATE_WHERE
  </sql>

	<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_user
		where uid = #{uid,jdbcType=BIGINT}
	</select>

	<select id="selectByUserInfo" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_user
		where username = #{username}
		AND password = #{password}
	</select>

	<select id="selectByAppId" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_user
		where username = #{username}
	</select>

	<select id="selectUserRoles" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT GROUP_CONCAT(rol.CODE) AS Roles
		FROM sys_user usr
		JOIN sys_user_role uro ON usr.uid = uro.USER_ID
		JOIN sys_role rol ON uro.ROLE_ID = rol.ID
		WHERE usr.username = #{username}
  </select>

	<select id="queryPage" parameterType="com.hubin.common.pages.PageParam" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_user
		where 1=1 limit #{page},#{limit}
	</select>

	<select id="queryPageTotal" resultType="java.lang.Long">
		select count(1) from sys_user
	</select>
</mapper>