<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hubin.factor.system.SysRoleResourceFactor">
    <resultMap id="BaseResultMap" type="com.hubin.domain.system.SysRoleResource">
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="ROLE_ID" jdbcType="BIGINT" property="roleId"/>
        <result column="RESOURCE_ID" jdbcType="BIGINT" property="resourceId"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
</mapper>